* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Science Gothic", sans-serif;
    outline: none;
}

body {
    background: url("./img/backgroundimage.png");
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
}

.container {
    background-image: linear-gradient(to right, #1f3253, #08101b);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #072f57;
    color: #FFF;
    font-size: 17px;
    padding: 0 15px;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}

.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.task {
    background-color: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
}

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.task:hover img {
    opacity: 1;
}

.done {
    background-color: #154d0c;
    text-decoration: line-through;
    color: white;
}

@media screen and (max-width: 900px) {
    body {
        background: url("./img/backgroundcell.png");
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 360px;
    }

    .input-task {
        width: 200px;

    }

    .button-add-task {
        height: 40px;
        padding: 0 5px;
        width: 100px;

    }

}

@media screen and (max-width: 500px) {
    body {
        background: url("./img/background-cell2.png");
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .container {
        width: 360px;
        margin-top: 10px;
    }

    .input-task {
        width: 200px;

    }

    .button-add-task {
        height: 40px;
        padding: 0 5px;
        width: 100px;

    }

}